
body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	background-position: 50% 50%;
}

.speech {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 1.5px;
	background-color: rgba(255, 255, 255, 0.85);
	width: 90vw;
	padding: 15px;
	border-radius: 2px;
	margin: auto;
}

.hinge {
	font-weight: bold;
	color: #FF0000;
	position: relative;
}

.hinge:hover {
	text-decoration: underline;
}

.links {
	position: absolute;
    left: 0;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.links:before {
	content: '';
    position: absolute;
    top: -5px;
    right: calc(50% - 10px);
    border-width: 0 10px 10px;
    border-color: #000000 transparent;
    border-style: solid;
}









