
body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	background-position: 50% 50%;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 45px;
	text-shadow: 0 0 2px #fff;
}

.speech {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 1.5px;
	background-color: rgba(255, 255, 255, 0.85);
	width: 90vw;
	padding: 15px;
	border-radius: 2px;
	margin: auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.hinge {
	font-weight: bold;
	color: #FF0000;
	position: relative;
}

.hinge:hover .links {
	display: block;
}

.links {
	display: none;
	position: absolute;
    left: 0;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    z-index: 100;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.links:before {
	content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    border-width: 0 10px 10px;
    border-color: #000000 transparent;
    border-style: solid;
}

.nextText:hover {
	color: pink;
}









